.footer {
    text-align: center;
    color: #404252;
    > .container {
        border-top: 1px color(primary, base) solid;
        padding-top: 100px;
    }
    .copyright {
        margin-top: 100px;
        border-top: 1px color(primary, base) solid;
        font-size: .9rem;
        * {
            color: inherit;
        }
        a:hover {
            color: color(primary, base);
        }
    }
    &-text {
        @media screen and (min-width: 768px) {
            font-size: 2.8rem;
            line-height: 4rem;
        }
        font-weight: bold;
    }
    &-info {
        text-align: left;
        p {
            [class*="fa-"] {
                color: color(secondary, base);
            }            
            &:first-of-type:not(:only-of-type) {
                [class*="fa-"] {
                    color: color(primary, base);
                }
                a {
                    &:hover {
                        color: color(primary, base);
                    }
                }                
            }
            font-size: .9rem;
            line-height: 1.2;
            @media screen and (min-width: 768px) {
                font-size: 1.5rem;
                @media screen and (min-width: 992px) {
                    text-align: initial !important;
                    &:first-of-type {
                        &:not(:empty) {
                            padding-left: 160px;
                        }
                    }
                    &:last-of-type {
                        &:not(:empty) {
                            padding-left: 120px;
                        }
                    }                
                }
            }
            font-weight: bold;
            a {
                color: inherit;
                &:hover {
                    color: color(secondary, base);
                }
            }
            * {
                font-size: inherit;
            }
        }
    }
}