$palettes: (
    primary: (base: #307dcb, light: lighten(#307dcb, 5%), dark: darken(#307dcb, 25%), navy: #0D484C),
    secondary: (base: #FEB900, light: lighten(#FEB900, 5%), golden: #8F8C51),
    green: (base: #01c729, light: lighten(#01c729, 5%), dark: #1A4F28, golden: #77815E)
);

@function color($color,$tone){

    @if map-has-key($palettes,$color){
        $color: map-get($palettes,$color);

            @if map-has-key($color,$tone){
                $tone: map-get($color,$tone);
                @return $tone;
            }

            @warn "unknown tone `#{$tone}` in color";
            @return null;        
    }

    @warn "unknown color `#{$color}` in palette";
    @return null;
   
}

